<div class="main-search-form">
    <div class="container">
        <div class="main-search-form-cover pt-50 pb-50 m-auto">
            <div class="row mb-20">
                <div class="col-12">
                    <form action="#" class="search-header">
                        <div class="input-group w-100">
                            <select class="form-control first_null not_chosen">
                                <option value="">Search all</option>
                                <option value="AX">Articles</option>
                                <option value="AF">Authors</option>
                                <option value="AF">Tags</option>
                            </select>
                            <input type="text" class="form-control" placeholder="Type your key words and hit enter">
                            <div class="input-group-append">
                                <button class="btn btn-black" type="submit">
                                    <i class="ti-search mr-5"></i> Search
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-12 font-small suggested-area">
                    <p class="suggested font-heading mb-10"><strong>Suggestion</strong></p>
                    <ul class="list-inline d-inline-block">
                        <li class="list-inline-item"><a href="category.html">World</a></li>
                        <li class="list-inline-item"><a href="category.html">American</a></li>
                        <li class="list-inline-item"><a href="category.html">Opinion</a></li>
                        <li class="list-inline-item"><a href="category.html">Tech</a></li>
                        <li class="list-inline-item"><a href="category.html">Science</a></li>
                        <li class="list-inline-item"><a href="category.html">Books</a></li>
                        <li class="list-inline-item"><a href="category.html">Travel</a></li>
                        <li class="list-inline-item"><a href="category.html">Business</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>